
body{
    background-color: black;
    font-family: Helvetica, Sans-Serif;
    color:white;
}

strong{
    color:rgb(162, 162, 162);
}

#header{
font-size: xx-large;
/* height: 5%;     */
background-color: black;
color: white;
font-family: Helvetica, Sans-Serif;
margin: 20px;
}

P{
    margin: 0;
}

#topContainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#searchbar{
    margin: 20px;
}

#topicEditor{
    margin: 20px;
}

#buttonContainer{
    margin: 20px;
}

button{
    background-color: black;
    border: 2px solid white;
    font-family: Helvetica, Sans-Serif;
    color: white;
    margin: 10px;
}

button:hover{
    background-color: lightgray;
    color: black;
    border: 2px solid gray;
}

button:disabled,
button[disabled]{
  border: 2px solid #8a8a8a;
  background-color: #cccccc;
  color: white;
}

ol>li{
    font-size:large;
}
a{
    color: white;
}

/* #topicEditor{

} */
