body{
    background-color: black;
    font-family: 'VT323', monospace;
    color:white;
}

#header{
font-size: xx-large;
height: 10%;    
background-color: black;
color: white;
font-family: 'VT323', monospace;
}

button{
    background-color: black;
    border: 1px solid white;
    font-family: 'VT323', monospace;
    color: white;
}

button:hover{
    background-color: grey;
    color: white;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}